*,
*:before,
*:after {
	position: relative;
	box-sizing: border-box;
}

body {
  background: #313131;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.keyboard {
  position: absolute;
  top: 80px;
  left: 50px;
	width: 140px;
	height: 30px;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(2, 1fr); 
	grid-gap: 6px;
}

.key {
	display: block;
	background: rgb(253, 169, 14);
	border-radius: 4px;
}

.key:nth-child(3n) {
  background: #13d613;
}

.key:nth-child(2n) {
  background: #ce2b2b;
}

.key:nth-child(5n) {
  background: #6433be;
}

/* start row / start col / span rows / span cols */
.key1 { grid-area: 1 / 1 / 2 / 3; }
.key2 { grid-area: 1 / 3 / 2 / 4; }
.key3 { grid-area: 1 / 4 / 2 / 5; }
.key4 { grid-area: 1 / 5 / 2 / 6; }
.key5 { grid-area: 1 / 6 / 2 / 7; }
.key6 { grid-area: 1 / 7 / 2 / 8; }
.key7 { grid-area: 2 / 1 / 3 / 2; }
.key8 { grid-area: 2 / 2 / 3 / 3; }
.key9 { grid-area: 2 / 3 / 3 / 7; }
.key10 { grid-area: 2 / 7 / 3 / 8; }

.but {
  margin-top: 1em;
}

.loo {
  position: absolute;
  top: 176px;
  left: 208px;
  z-index: 2;
}

.pill {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1.8em;
  min-width: 6em;
  background: red;
  vertical-align: middle;
  font-style: italic;
  font-weight: bold;
  border-radius: 8px;
}

/* duration / delay / iteration */
.animating {
  /* animation: glowingText 2s infinite ease-in-out; */
  /* animation: collapsingText 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both; */
  /* animation: shake-lr 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both; */
  animation: shake-lr 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes glowingText {
  0% {
    transform: translateY(0px);
    /* font-size: 10px; */
  }
  50% {
    transform: translateY(5px);
    /* font-size: 20px; */
  }
  100% {
    transform: translateY(0px);
    /* font-size: 10px; */
  }
}

@keyframes collapsingText {
  0% { opacity: 1; }
  50% { opacity: 1; }
  100% { letter-spacing: -0.5em; opacity: 0; }
}

@keyframes shake-lr {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  10% {
    transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-8deg);
  }
  90% {
    transform: rotate(8deg);
  }
}

.computer {
  width: 400px;
}